* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*==============================================================================================
                                MOBILE STYLING/DEFAULT STYLING
==============================================================================================*/
header {
    background-color: orangered;
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
}
.body {
    background-color: rgb(0, 0, 0);
    height: 360vh;
    width: 100%;
}

.body_content {
    background-color: rgb(0, 0, 0);
    width: 95%;
    margin: auto;
    height: 100%
}

footer {
    background-color: orangered;
    height: 7vh;
    width: 100%;
}

.content{
    display:block;
    width:70vw;
    height:26vh;
    background-color: orangered;
    margin: auto;
    
}

.entry_1{
    margin-bottom: 3vh;
    height:5vh;
    width: 100%;
    align-items: center;
}
/*==============================================================================================
                                        TABLET STYLING
==============================================================================================*/

/*==============================================================================================
                                        DESKTOP STYLING
==============================================================================================*/