* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*==============================================================================================
                                MOBILE STYLING/DEFAULT STYLING
==============================================================================================*/
header {
    background-color: orangered;
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
}
.body {
    background-color: rgb(0, 0, 0);
    height: 360vh;
    width: 100%;
    overflow: hidden;
}

.body_content {
    background-color: rgb(150, 102, 102);
    width: 95%;
    margin: auto;
    height: 100%;
}

footer {
    background-color: orangered;
    height: 7vh;
    width: 100%;
}

.section_1{
    background-color: orangered;
    border-radius: 4vw 4vw 0vw 0vw;
    width:50vw;
    height:120vh;
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.sub_section_1{
    background-color: rgb(255, 68, 0);
    border-radius: 4vw 4vw 0vw 0vw;
    width:50vw;
    height:20vh;
}
.sub_section_2{
    background-color: orangered;
    width:50vw;
    height:120vh;
    display: flex;
    border-radius: 0vw 10vw 4vw 4vw;
}
.form_holder{
    margin-top: 10vh;
    width:48vw;
    height:116vh;
    background-color: rgb(0, 0, 0);
    margin: auto;
    border-radius: 4vw 10vw 4vw 4vw;
}
.title_1{
    color: white;
    margin-top: 10vh;
    font-size: 3.25vw;
    background-color: aqua;
    width:40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
/*==============================================================================================
                                        TABLET STYLING
==============================================================================================*/

/*==============================================================================================
                                        DESKTOP STYLING
==============================================================================================*/